<div class="header">
  <div class="left">
      <h1>Payment Package</h1>
      <ul class="breadcrumb">
          <li><a routerLink="dashboard/home" routerLinkActive="active" >
                  Home
              </a></li>
          /
          <li><a class="active">Payment Package</a></li>
      </ul>
  </div>
</div>
    @if(paymentPackages.length !=0){
      <div class="row">
        <div class="col-sm-12 text-end">
          <button
            class="btn btn-sm btn-light mb-1 text-white rounded-3"
            style="background-color: #8a1538"
            (click)="openDialog('')"
          >
            New
          </button>
        </div>
      </div>
      <div class="row">
        @for (package of paymentPackages; track $index) {
            <div class="plan" (click)="openDialog(package.id)">
              <div class="inner">
                <span class="pricing">
                  <span>
                    ${{package.paymentPackagePrice}} <small>/ m</small>
                  </span>
                </span>
                <p class="title">{{package.paymentPackageName}} | {{package.paymentArabicName}}</p>
                <p class="info">{{package.paymentPackageDescription}}</p>
                <ul class="features">
                  @for (feature of package.paymentPackageFeatures; track $index) {
                    <li>
                      <span class="icon">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                        </svg>
                      </span>
                      <span>{{feature}}</span>
                    </li>
                  }
                </ul>
              </div>
            </div>
        }
      </div>
    }
   @else {
    <div class="card">
      <div class="card-body">
        <div role="status" class="max-w-sm animate-pulse">
          <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
          <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"></div>
          <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
          <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px] mb-2.5"></div>
          <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[300px] mb-2.5"></div>
          <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"></div>
          <span class="sr-only">Loading...</span>
      </div>
      </div>
    </div>
 
   }