<h2 mat-dialog-title>Status</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="mawaterStatusForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="statusName" class="form-label">Name</label>
      <input [ngClass]="{'is-invalid': mawaterStatusForm.get('statusName')?.errors && mawaterStatusForm.get('statusName')?.touched}" 
      type="text" class="form-control form-control-sm" id="statusName" name="statusName" 
      formControlName="statusName"  [(ngModel)]="mawaterStatus.statusName" required/>     
      @if(mawaterStatusForm.get('statusName')?.touched && mawaterStatusForm.get('statusName')?.hasError('required')){
        <div class="invalid-feedback">
            required.</div>
      }
    </div>
    <div class="mb-3">
      <label for="statusArabicName" class="form-label">Arabic Name</label>
      <input [ngClass]="{'is-invalid': mawaterStatusForm.get('statusArabicName')?.errors && mawaterStatusForm.get('statusArabicName')?.touched}" 
      type="text" class="form-control form-control-sm" id="statusArabicName" name="statusArabicName" 
      formControlName="statusArabicName" [(ngModel)]="mawaterStatus.statusArabicName"  required/>
      @if(mawaterStatusForm.get('statusArabicName')?.touched && mawaterStatusForm.get('statusArabicName')?.hasError('required')){
        <div class="invalid-feedback">
            required.</div>
      }
    </div>
    <button [disabled]="!mawaterStatusForm.valid" type="submit" class="btn text-white" style="background-color: #8A1538;">Save</button>
  </form>
</mat-dialog-content>
