<h2 mat-dialog-title>Type</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="yearForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="yearName" class="form-label">Name</label>
      <input [ngClass]="{'is-invalid': yearForm.get('yearName')?.errors && yearForm.get('yearName')?.touched}" 
      type="text" class="form-control form-control-sm" id="yearName" name="yearName" 
      formControlName="yearName"  [(ngModel)]="year.yearName" required/>     
      @if(yearForm.get('yearName')?.touched && yearForm.get('yearName')?.hasError('required')){
        <div class="invalid-feedback">
            required.</div>
      }
    </div>
    <div class="mb-3">
      <label for="yearArabicName" class="form-label">Arabic Name</label>
      <input [ngClass]="{'is-invalid': yearForm.get('yearArabicName')?.errors && yearForm.get('yearArabicName')?.touched}" 
      type="text" class="form-control form-control-sm" id="yearArabicName" name="yearArabicName" 
      formControlName="yearArabicName" [(ngModel)]="year.yearArabicName"  required/>
      @if(yearForm.get('yearArabicName')?.touched && yearForm.get('yearArabicName')?.hasError('required')){
        <div class="invalid-feedback">
            required.</div>
      }
    </div>
    <button [disabled]="!yearForm.valid" type="submit" class="btn text-white" style="background-color: #8A1538;">Save</button>
  </form>
</mat-dialog-content>
