<div class="header">
  <div class="left">
      <h1>Dashboard</h1>
      <ul class="breadcrumb">
          <li><a class="active" routerLink="/dashboard/home" routerLinkActive="active" >
                  Home
              </a></li>
      </ul>
  </div>
  <!-- <a href="#" class="report">
      <i class='bx bx-cloud-download'></i>
      <span>Download CSV</span>
  </a> -->
</div>

<!-- Insights -->
<ul class="insights">
  <li>
      <i class='bx bx-calendar-check'></i>
      <span class="info">
          <h3>
              1,074
          </h3>
          <p>Paid Order</p>
      </span>
  </li>
  <li><i class='bx bx-show-alt'></i>
      <span class="info">
          <h3>
              3,944
          </h3>
          <p>Site Visit</p>
      </span>
  </li>
  <li><i class='bx bx-line-chart'></i>
      <span class="info">
          <h3>
              14,721
          </h3>
          <p>Searches</p>
      </span>
  </li>
  <li><i class='bx bx-dollar-circle'></i>
      <span class="info">
          <h3>
              $6,742
          </h3>
          <p>Total Sales</p>
      </span>
  </li>
</ul>
<!-- End of Insights -->

<div class="bottom-data">
    <div class="row w-100">
        <div class="col-sm-12">
            @defer {
                <app-ads></app-ads>
            }
            @loading(after 200ms; minimum 2s) {
                <div class="animate-pulse">
                    <div class="h-4 bg-gray-200 mt-3 mb-6 rounded"></div>
                    <div class="h-4 bg-gray-300 mb-6 rounded"></div>
                    <div class="h-4 bg-gray-200 mb-6 rounded"></div>
                    <div class="h-4 bg-gray-300 mb-6 rounded"></div>
                    <div class="h-4 bg-gray-200 mb-6 rounded"></div>
                  </div>
            }
            
           
        </div>
      </div>
</div>