<div class="sidebar" #sidebar>
  <a routerLink="dashboard/home" class="logo">
    <i class="bx bxs-car"></i>
    <div class="logo-name"><span>Mawater</span>Qatar</div>
  </a>
  <ul class="side-menu">
    <li routerLinkActive="active">
      <a routerLink="dashboard/home">
        <i class="bx bxs-dashboard"></i>Dashboard</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/city">
        <i class="bx bx-world"></i>
        City
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/category"
        ><i class="bx bxs-category"></i>Category</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/transmission"
        ><i class="bx bx-cable-car"></i>Transmission</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/color"><i class="bx bxs-palette"></i>Color</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/engineCapacity"
        ><i class="bx bxs-car-battery"></i>Engine</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/furnishing"
        ><i class="bx bxs-brush"></i>Furnishing</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/mawater"><i class="bx bx-car"></i>Mawater</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/mawaterType"
        ><i class="bx bx-caret-right"></i>Mawater Type</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/mawaterStatus"
        ><i class="bx bxs-car-mechanic"></i>Mawater Status</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/mawaterStructure"
        ><i class="bx bxs-car"></i>Mawater Structure</a
      >
    </li>

    <li routerLinkActive="active">
      <a routerLink="dashboard/year"><i class="bx bx-calendar"></i>Year</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/wheelMovement"><i class='bx bxs-circle'></i> Wheel Movement</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/paymentFeature"> <i class='bx bxs-star'></i> Payment Features</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/paymentPackage"> <i class='bx bxs-credit-card'></i> Payment Packages</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/banner"> <i class='bx bx-image'></i> Banners</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard/settings"> <i class='bx bx-cog'></i> Settings</a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#" (click)="logout()" class="logout">
        <i class="bx bx-log-out-circle"></i>
        Logout
      </a>
    </li>
  </ul>
</div>
